@import './App.scss';
@import './breakpoints.scss';
#about_me{
    height: 130vh;
    @include media("<=bigPhone"){
        height: 190vh;
        margin-top: 10px;
    }
    @include media(">bigPhone","<tablet"){
        overflow-y:hidden;
        height: 170vh;
        margin-bottom: -350px;
    }
    .breakpoint__medium-down{
        position: relative;
        top: 7.2%;
        left: 15%;
        @include media("<bigPhone"){
            top: 11.5%;
            left: 15%;
        }
        @include media("<=phone"){
            top: 8%;
        }
        h5{
            color: $green_color;
            @include media("<=bigPhone"){
                font-size: 2rem;
            }
            @include media(">bigPhone","<desktop"){
                font-size: 2rem;
            }
            @include media(">=tablet","<desktop"){
                margin-bottom: 30px;
            }
            @media only screen and (min-width:451px) and (max-width:530px){
                overflow-y: hidden;
            }
            
        }
    }
    p{
        position: relative;
        top: 25%;
        left: 50%;
        transform: translate(-50%,-50%);
        color:$blue_color;
        font-size: 1.3em;
        line-height: 1.6;
        max-width: 70%;
        @include media("<=bigPhone"){
            max-width: 300px;
            font-size: 1em;
            text-align: justify;
            box-sizing: border-box;
        }
        @include media(">bigPhone","<desktop"){
            text-align: justify;
            font-size: 1.5em;
            overflow-y: hidden;
        }
        @media only screen and (min-width:450px) and (max-width:500px){
            margin-top: 40px;
        }
        @media only screen and (min-width:500px) and (max-width:613px){
            margin-top: 40px;
        }
        @media only screen and (min-width:768px) and (max-width:850px){
            margin-top: 40px;
        }
        
    }
    #skills_title{
        position: relative;
        color: $green_color;
        top: 32%;
        left: 16%;
        @include media("<=bigPhone"){
            top: 35%;
            left: 15%;
            margin-top: -170px;
        }
        @include media(">=tablet","<desktop"){
            margin-top: -100px;
        }
        @media only screen and (min-width:451px) and (max-width:758px){
            margin-top: -128px;
        }
        // @media only screen and (min-width:455px) and (max-width:530){
        //     margin-top: -60px;
        // }
    }
    .box_container{
        position: relative;
        top:40%;
        overflow-y: hidden;
        @media only screen and (min-width:455px) and (max-width:530){
            margin-top: -40px;
            overflow-y: hidden;
        }
        
    }
    .boxes{
        display: flex;
        margin-left: 15%;
        @include media("<=bigPhone"){
            flex-direction: column;
            font-size: .9em;
            height: 600px;
        }
        @include media(">bigPhone","<tablet"){
            margin-left:2%;
            flex-direction: column;
            font-size: 1em;
            overflow-y: hidden;
            height: 650px;
        }
        @include media(">phone","<bigPhone"){
            margin-left: 10%;
        }
        @media only screen and (min-width:769px) and (max-width:899px){
            left: 5%;
        }
        @media only screen and (min-width:900px) and (max-width:1365px){
            left: 10%;
        }
        >div{
            max-width: 30%; 
            height: 220px;
            margin: 5px 15px 5px;
            padding: 10px;
            background-color: $secondary_color;
            box-shadow: 0 0 10px rgba(0,0,0,.2);
            @include media("<=bigPhone"){
                max-width: 303px;
                margin-left: -13px;
            }
            @include media(">bigPhone","<tablet"){
                max-width: 340px;
                margin: 0px 0 20px 20%;
                overflow: hidden;
            }
        }
        h4{
            color: $white_color;
        }
        ul{
            li{
                color: $blue_color;
                padding:2px 0px ;
            }
        }
        .pl_box {
            #first_box_header{
                display: flex;
                color: $white_color;
                h4{
                    margin:2px 0px 0px 5px;
                    @include media("<=bigPhone"){
                        font-size: 1.1em;
                    }
                }
                #animate_code{
                    margin-left: 6px;
                }
                @include media("<=bigPhone"){
                    margin-left:10px ;
                }
            }
            #pl_skill{
                display: grid;
                grid-template-columns: repeat(2, minmax(154px, 200px));
                gap: 0px 25px;
                margin: 20px 0px 20px -20px;

                li::before{
                    content: "▹";
                    color: $green_color;
                }
            }
           
        }

        .lib_box{
            #second_box_header{
                display: flex;
                color: $white_color;
                overflow: hidden;
                h4{
                    margin: 2px 0px 0px 5px;
                    @include media("<=bigPhone"){
                        font-size: 1.1em;
                        padding-left: 2px;
                    }
                }
                #animate_tool{
                    margin-left: 6px;
                    // animation: devtool 1.8s infinite;
                    // animation-direction: alternate-reverse;
                }
                @include media("<=bigPhone"){
                    margin-left:10px ;
                }
            }
            #dt_skill{
                display: grid;
                grid-template-columns: repeat(2, minmax(154px, 200px));
                gap: 0px 5px;
                margin: 20px 0px 20px -20px;
                li::before{
                    content: "▹";
                    color: $green_color;
                }
            }
            @include media("<=bigPhone"){
                margin-top: 35px;
                margin-bottom: 20px;
                padding-left: 10px;
            }
        }
        @include media(">=tablet","<desktop"){
            margin-left: 70px;
            >div{
                max-width: 303px;
            }
        }
    }
   
}

